<header id='top'>
      <h1 class='banner'>Welcome to the Blogger </h1>
    </header>
  <section class='comments'>
    <h2>Comments</h2>
    <% comments.each do |comment| %>
     <p><a href='/comments/<%= comment.id %>/comments'><%= comment.message %></a>
      <a href="/posts/new">Add post</a></p>
    <% end %>
  </section>
